.learn2{
    width: 500px;
    text-align: center;
    margin:0 auto;
    border :2px solid #d7d7d7;
    border-bottom: 0px;
    margin-top: 20px;
    font-family: sans-serif;
}
.learn2 h1{
    text-align: center;
    background-color: #5c8297;
    margin-top:0px;
    color:#ffffff;
}
.learn2 .addItem{
    position: relative;
    padding-bottom: 0px;
    height: 30px;
}
.learn2 .addText{
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size:20px;
}
.learn2 .addText button{
    height: 45px;
    width: 50px;
    padding: 5px;
}
.learn2 ul{
    list-style: none;
    font-size:20px;
    color:#686868;
    margin-left: -45px;
    margin-bottom: 0px;
}
.learn2 li{
    border-bottom: 1px solid #bfbfbf;
    background-color: #d7d7d7;
    padding:10px 0px;
    margin-bottom: 5px;
}
.learn2 li span{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}